.paginationBttns {
  width:auto;
  height: 85px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-user input {
  outline: none;
  border: none;
  width: 60%;
  background-color: #f1f1f6;
  border-radius: 10px;

}
.search-filter input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #dfdfe8;
  border-radius: 10px;
}

.paginationBtns {
  width:70%;
  height: 85px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  color: #0371e3;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #0371e3;
}

.paginationActive a {
  color: white !important;
  background-color: #0371e3;
}

.transaction-table tr td {
  text-align: center;
}

.paginationDisabled a {
  color: #6c757d;
  background-color: #eff2f7;
}

@media (max-width: 250px) {
  .paginationBttns {
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}