@import "../../../../assets/scss/variables";

.settlement-table {
  text-align: center;
  // overflow-x: scroll;
}
.settlement-table .status {
  border: 1px solid #000;
  border-radius: $status-radius;
  padding: $status-padding;
  margin: 0;
}
.table-heding th {
  font-size: $table-heading-font-size;
  font-weight: $font-weight-bolder;
}

.settlement-table tr {
  cursor: pointer;
}

.settlement-table td {
  vertical-align: middle !important;
}
