@import "../../../assets/scss/variables";

.checkbox-row {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
.checkbox-row div {
  width: 200px;
}

.checkbox-row label {
  margin-left: 0.2rem;
}

.hold-modal-body h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.checkbox-save {
  text-align: right;
}

.checkbox-save button {
  outline: none;
  border: none;
  background-color: $success;
  border-radius: $button-radius;
  padding: $button-padding;
  color: $white;
}

.checkbox-save button:hover {
  opacity: $button-opacity;
}

.remark-section {
  display: flex;
  flex-direction: column;
}

.remark-section label {
  font-weight: $font-weight-bold !important;
}

.remark-section textarea {
  outline: none;
  background-color: $input-background;
  border-radius: $input-border-radius;
  border: none;
  padding: $input-padding;
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .hold-modal-toggler {
    width: 100%;
  }
}
