@import "../../assets/scss/variables";

.approved-partners-search input {
  background: $table-input-background;
  padding: $input-padding;
  border-radius: $button-radius;
  outline: none;
  border: none;
}

// .table tr:nth-child(even) {
//   background: $input-background;
// }

.approved-partners-row {
  width: 70%;
}

.approved-partners .card {
  display:flex;
  background: $white-table-card;
  border-radius: $table-card-radius;
}

.approved-partners-table {
  text-align: center;
  margin: 1rem 0;
}
.approved-partners-table tr {
  cursor: pointer;
}

.search-filter {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.search-filter div {
  padding: 0 1rem;
}

.search-filter {
  input,
  select {
    height: 30px;
    margin: 0;
    width: 100%;
    padding: 0 1rem;
    outline: none;
    border: 1px solid $admin-border-color;
    border-radius: $input-border-radius;
    color: grey;
  }
  input {
    padding: 0 2rem;
    background: #f1f5f6;
    border: none;
  }
  input::placeholder {
    font-size: 0.7rem;
  }
  h6 {
    color: #000;
    font-weight: $font-weight-bold;
  }

  .fa-search {
    color: grey;
    position: absolute;
    left: 0;
    margin-left: 3rem;
    margin-top: 0.5rem;
  }
  .search-btn {
    display: flex;
    align-items: center;

    button {
      object-fit: contain;
      height:30px;
      background: $eazr-color;
      color: #fff;
      padding:0 1.5rem;
      border-radius: $button-radius;
      outline: none;
      border: none;
      margin-top: 1.2rem;
    }
    button:hover {
      opacity: $button-opacity;
    }
  }
}

@media (max-width: 500px) {
  .search-filter {
    grid-template-columns: auto;
    h6 {
      margin: 0.5rem 0;
    }
  }
}

@media (max-width: 1024px) {
  .approved-partners-row {
    width: 100%;
  }
}
